<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websocket Test</title>
    <link rel="stylesheet" href="script/css/bootstrap.min.css">
    <link rel="stylesheet" href="script/css/signin.css">
    <script type="text/javascript" src="script/js/jquery.min.js"></script>
    <script type="text/javascript" src="script/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/js/jquery.cookie.js"></script>

</head>
<body>
    <div class="container" id="d1">
        <div class="form-signin">
            <h2 class="form-signin-heading">请先登录</h2>
            <input type="text" class="form-control" id="name" placeholder="昵称" required autofocus>
            <button type="button" class="btn btn-lg btn-primary btn-block" id="send">Sign in</button>
        </div>
    </div>

    <div class="container" id="d2" style="display: none">
        <div class="form-signin">
            <h2 class="form-signin-heading">选择房间</h2>
            <input type="text" class="form-control" id="room" placeholder="房间号" required autofocus>
            <button type="button" class="btn btn-lg btn-primary btn-block" id="join">Join</button>
        </div>
    </div>
</body>
<script>
    var socket = new WebSocket('ws://localhost:8080');
    socket.onopen = function () {
//        socket.send('client login')
    };
    /**
     * 接受消息并处理
     */
    socket.onmessage = function (msg) {
        //$('#text').append(msg.data + '<br>')
        //console.log(msg);
        console.log(msg.data);
        var obj = JSON.parse(msg.data);
        if(obj.type != undefined) {
            switch (obj.type) {
                case 'login_succ':
                        var data = obj.data;
                        $.cookie('name', data.name);
                        $.cookie('id', data.id);
                        $.cookie('token', data.token);
                        //alert('login success');
                        $('#d1').hide();
                        $('#d2').show();
                    break;
            }
        }
    }

    /**
     * 发送登录信息
     */
    $('#send').click(function () {
        var obj = {
            type: 'login',
            data: {
                name: $('#name').val()
            }
        };
        var msg = JSON.stringify(obj);
        socket.send(msg);
    });
    
    $('#join').click(function () {
        console.log($.cookie('token'));
        $.cookie('room', $('#room').val());
        window.location.href = 'main.html';
    });

</script>
</html>