<link rel="stylesheet" href="vendor/css/enterroom.css">
<link rel="stylesheet" href="vendor/css/global.css">
<script type="text/javascript" src="vendor/js/global.js"></script>

<div id="screen" class="screen">
	<img class="background" src="vendor/img/enterroom/background.png" />
	<img class="lyingman-icon" src="vendor/img/lyingman.png" />
	<div class="message-box">
		<p>欢迎，大佬进入房间{{roomnumber}}</p>
		<p>当前房间人数：{{usernumber}}/9</p>
		<img ng-show="complete" ng-click="startGame()" class="startbutton" src="vendor/img/enterroom/startbutton.png"/>
	</div>
</div>
