 <div class="container" id="d1">
        <div class="form-signin">
            <h2 class="form-signin-heading">请先登录</h2>
            <input type="text" class="form-control" id="name" placeholder="昵称" required autofocus>
            <button type="button" class="btn btn-lg btn-primary btn-block" id="send">Sign in</button>
        </div>
    </div>

    <div class="container" id="d2" style="display: none">
        <div class="form-signin">
            <h2 class="form-signin-heading">选择房间</h2>
            <input type="text" class="form-control" id="room" placeholder="房间号" required autofocus>
            <button type="button" class="btn btn-lg btn-primary btn-block" id="join">Join</button>
        </div>
    </div>