<link rel="stylesheet" href="vendor/css/room.css">
<link rel="stylesheet" href="vendor/css/global.css">
<script type="text/javascript" src="vendor/js/global.js"></script>
<script type="text/javascript" src="vendor/js/game.js"></script>

<!--进入房间界面-->
<div id="screen" class="enter-screen" style="display:none">
	<img class="enter-bg" src="vendor/img/gameroom/enter-bg.png" />
	<img class="lyingman-icon" src="vendor/img/lyingman.png" />
	<div class="enter-message-box">
		<p>欢迎，大佬进入房间{{roomnumber}}</p>
		<p>当前房间人数：{{usernumber}}/9</p>
		<img ng-show="complete" ng-click="startGame()" class="enter-startbtn" src="vendor/img/gameroom/start-btn.png"/>
	</div>
</div>

<!--游戏界面-->
<div id="screen" class="game-screen">
	<img class="game-bg" src="vendor/img/gameroom/game-bg.png" />
	<img class="id" src="vendor/img/gameroom/id.png" />
	<img class="lyingman-icon" src="vendor/img/lyingman.png" />
	<img class="player-card" src="vendor/img/gameroom/cards/wolf.png" >
	<div class="table-section">
		<!--显示每个人的昵称-->
		<div class="player-name-section">
			<div class="player-name-1">
				<p>xiaoming</p>
			</div>
			<div class="player-name-2">
				<p>lu</p>
			</div>
			<div class="player-name-3">
				<p>xixi</p>
			</div>
			<div class="player-name-4">
				<p>zhuge</p>
			</div>
			<div class="player-name-5">
				<p>cyx</p>
			</div>
			<div class="player-name-6">
				<p>lhy</p>
			</div>
			<div class="player-name-7">
				<p>nvwang</p>
			</div>
			<div class="player-name-8">
				<p>erjing</p>
			</div>
			<div class="player-name-9">
				<p>bowen</p>
			</div>
		</div>
		<!--显示每个人的数字编号-->
		<div class="player-number-section">
			<p class="player-number-1">1</p>
			<p class="player-number-2">2</p>
			<p class="player-number-3">3</p>
			<p class="player-number-4">4</p>
			<p class="player-number-5">5</p>
			<p class="player-number-6">6</p>
			<p class="player-number-7">7</p>
			<p class="player-number-8">8</p>
			<p class="player-number-9">9</p>
		</div>
		<!--显示每个人的存活状态-->
		<div class="player-death-section">
			<img class="player-death-1" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-2" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-3" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-4" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-5" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-6" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-7" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-8" src="vendor/img/gameroom/claw.png" />
			<img class="player-death-9" src="vendor/img/gameroom/claw.png" />
		</div>
		<!--显示每个人的对话框-->
		<div class="player-dialog-section">
			<div class="player-dialog-1">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					5号是狼人
				</div>
			</div>
			<div class="player-dialog-2">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-3">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-4">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-5">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-6">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-7">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-8">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
			<div class="player-dialog-9">
				<div class="player-dialog">
					<span class="bot"></span>
					<span class="top"></span>
					2号查杀，5号金水，今天全票出2
				</div>
			</div>
		</div>
		<!--右下角打字输入框-->
		<div class="player-chat-section" style="display:none;">
			<form>
				<textarea class="player-chat-text">123123</textarea>
				<button class="player-chat-btn">发送</button>
			</form>
		</div>
		<!--预言家选择框-->
		<div class="player-select-section" name="player-predictor-section" style="display:none;">
			<p>预言家，今晚你要查验谁的身份？</p>
			<div class="player-select-list-predictor">
				<button class="player-select-btn player-select-1">1</button>
				<button class="player-select-btn player-select-2">2</button>
				<button class="player-select-btn player-select-3">3</button>
				<button class="player-select-btn player-select-4 player-select-btn player-select-selected">4</button>
				<button class="player-select-btn player-select-5 player-select-btn player-select-disabled">5</button>
				<button class="player-select-btn player-select-6">6</button>
				<button class="player-select-btn player-select-7">7</button>
				<button class="player-select-btn player-select-8">8</button>
				<button class="player-select-btn player-select-9">9</button>
			</div>
			<img class="img-identity" src="vendor/img/gameroom/goodman.png" />
			<img class="img-identity" src="vendor/img/gameroom/badman.png" style="display:none;" />
			<div class="img-clock-horizon img-clock-predictor">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
		<!--狼人选择框-->
		<div class="player-select-section" name="player-wolf-section" style="display:none;">
			<p>狼人<span class="player-select-info">1</span><span class="player-select-info">2</span><span class="player-select-info">3</span>今晚要杀死谁？</p>
			<div class="player-select-list-wolf">
				<button class="player-select-btn player-select-1-wolf">1</button>
				<button class="player-select-btn player-select-2-wolf">2</button>
				<button class="player-select-btn player-select-3-wolf">3</button>
				<button class="player-select-btn player-select-4-wolf player-select-btn player-select-selected">4</button>
				<button class="player-select-btn player-select-5-wolf player-select-btn player-select-disabled">5</button>
				<button class="player-select-btn player-select-6-wolf">6</button>
				<button class="player-select-btn player-select-7-wolf">7</button>
				<button class="player-select-btn player-select-8-wolf">8</button>
				<button class="player-select-btn player-select-9-wolf">9</button>
				<img class="player-vote2kill player-vote2kill-1-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-1-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-2-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-2-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-3-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-3-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-4-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-4-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-5-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-5-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-6-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-6-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-7-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-7-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-8-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-8-2" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-9-1" src="vendor/img/gameroom/claw.png" />
				<img class="player-vote2kill player-vote2kill-9-2" src="vendor/img/gameroom/claw.png" />
			</div>
			
			<div class="img-clock-vertical img-clock-wolf">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
		<!--守卫选择框-->
		<div class="player-select-section" name="player-guard-section"  style="display:none;">
			<p>守卫，今晚你要守护哪位玩家？</p>
			<div class="player-select-list-guard">
				<button class="player-select-btn player-select-1">1</button>
				<button class="player-select-btn player-select-2">2</button>
				<button class="player-select-btn player-select-3">3</button>
				<button class="player-select-btn player-select-4 player-select-btn player-select-selected">4</button>
				<button class="player-select-btn player-select-5 player-select-btn player-select-disabled">5</button>
				<button class="player-select-btn player-select-6">6</button>
				<button class="player-select-btn player-select-7">7</button>
				<button class="player-select-btn player-select-8">8</button>
				<button class="player-select-btn player-select-9">9</button>
			</div>
			<div class="img-clock-vertical img-clock-guard">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
		<!--女巫救人框-->
		<div class="player-select-section" name="player-witch-save-section">
			<p>女巫，今晚<span class="player-select-info">2</span>遇刺，是否使用解药？</p>
			<div class="img-clock-horizon img-clock-witch-save">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
			<button class="player-choose-btn player-choose-btn-left">使用</button>
			<button class="player-choose-btn player-choose-btn-right">不使用</button>
		</div>
		<!--女巫毒人框-->
		<div class="player-select-section" name="player-witch-poison-section" style="display:none;">
			<p>女巫，今晚你要毒死谁？</p>
			<div class="player-select-list-poison">
				<button class="player-select-btn player-select-1">1</button>
				<button class="player-select-btn player-select-2">2</button>
				<button class="player-select-btn player-select-3">3</button>
				<button class="player-select-btn player-select-4 player-select-btn player-select-selected">4</button>
				<button class="player-select-btn player-select-5 player-select-btn player-select-disabled">5</button>
				<button class="player-select-btn player-select-6">6</button>
				<button class="player-select-btn player-select-7">7</button>
				<button class="player-select-btn player-select-8">8</button>
				<button class="player-select-btn player-select-9">9</button>
			</div>
			<div class="img-clock-vertical img-clock-poison">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
		<!--投票选择框-->
		<div class="player-select-section" name="player-vote-section" style="display:none;">
			<p>今天，你要投票处决哪位玩家？</p>
			<div class="player-select-list-vote">
				<button class="player-select-btn player-select-1">1</button>
				<button class="player-select-btn player-select-2">2</button>
				<button class="player-select-btn player-select-3">3</button>
				<button class="player-select-btn player-select-4 player-select-btn player-select-selected">4</button>
				<button class="player-select-btn player-select-5 player-select-btn player-select-disabled">5</button>
				<button class="player-select-btn player-select-6">6</button>
				<button class="player-select-btn player-select-7">7</button>
				<button class="player-select-btn player-select-8">8</button>
				<button class="player-select-btn player-select-9">9</button>
			</div>
			<div class="img-clock-vertical img-clock-vote">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
		<!--无关人等框-->
		<div class="player-select-section" name="player-unrelated-section" style="display:none;">
			<p>现在是<span class="player-action-info">狼人</span>行动时间</p>
			<div class="img-clock-horizon img-clock-witch-unrelated">
				<img src="vendor/img/gameroom/clock.png" />
				<span>2:20</span>
			</div>
		</div>
	</div>
</div>
